<header class="topbar" *ngIf="{state: layoutService.state$ | async} as layout">
    <nav class="topbar__start">
        <ul class="topbar__buttons">
            <li>
                <a [id]="uuid.generateId" #toggleSidebarButton pRipple role="button" aria-label="" [attr.aria-expanded]="layout.state.sidebarExpanded" (click)="layoutService.toogleSidebar()">
                    <fa-icon aria-hidden="true" [icon]="icons.core.menu" size="lg"></fa-icon>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="topbar__end"></nav>
</header>
